.box_container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.file_uploads {
  margin-left: 0;
  width: 100%;
  max-width: 50rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 51rem;
}

.file_upload_box {
  background-color: azure;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: auto;
  height: 25rem;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed;
  cursor: pointer;
}

.convert_warning {
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 29rem;
  font-size: 20px;
  cursor: pointer;
}

.convert_warning:hover {
  text-decoration: underline;
}

.file_name_title {
  padding-left: 3rem;
}

.file_name_container {
  background-color: azure;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 3.3rem;
  width: auto;
  border-radius: 20px;
  align-items: center;
  display: flex;
  padding-left: 2rem;
}

.file_playhead_title {
  margin-top: 2rem;
  padding-left: 3rem;
}

.file_playhead {
  background-color: azure;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 3.3rem;
  width: auto;
  border-radius: 20px;
}

.upload_button {
  display: block;
  margin: 3rem auto;
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background-color: #5cff77;
  color: black;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.upload_button:hover {
  background-color: #45cc5d;
}

.file_reports {
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.file_report_header {
  display: flex;
  align-items: center;
}

.file_report_header p {
  font-weight: bold;
  font-size: 20px;
}

.file_report_title {
  padding-top: 2rem;
  padding-left: 2rem;
}

.spectrogram_guide {
  font-size: 18px;
  cursor: pointer;
}

.dialog_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.dialog_content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.dialog_content h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.spectrogram_box {
  background-color: azure;
  height: 35rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  border: 3px dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spectrogram_image {
  border-radius: 20px;
  width: 100%;
  height: 35rem;
}

.result_container {
  padding-left: 2rem;
  display: flex;
  gap: 2rem;
}

.confidence_container {
  margin-top: 1rem;
  padding-left: 2rem;
  display: flex;
  gap: 2rem;
}

.operation_container {
  height: 30rem;
  background-color: #385723;
  color: white;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.operation_container h1 {
  padding: 2rem;
}

.operation_inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.operation_item h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.operation_item {
  flex: 1;
  height: 19rem;
}

.operation_item:not(:last-child) {
  border-right: 1px solid white;
}

.operation_item p {
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 20px;
}

.feedback_container {
  background-color: white;
  width: 100%;
  height: 12rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.feedback_container p {
  font-size: 20px;
}

.feedback_icon {
  height: 120px;
  width: 120x;
}

.feedback_icon:hover {
  cursor: pointer;
}
