.box_container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.file_uploads {
  margin-left: 0;
  width: 100%;
  max-width: 50rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.file_upload_box {
  background-color: azure;
  margin: 2rem;
  width: auto;
  height: 25rem;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed;
  cursor: pointer;
}

.file_name_title {
  padding-left: 3rem;
}

.file_name_container {
  background-color: azure;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 3.3rem;
  width: auto;
  border-radius: 20px;
  align-items: center;
  display: flex;
  padding-left: 2rem;
}

.file_playhead_title {
  margin-top: 2rem;
  padding-left: 3rem;
}

.file_playhead {
  background-color: azure;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 3.3rem;
  width: auto;
  border-radius: 20px;
}

.upload_button {
  display: block;
  margin: 3rem auto;
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background-color: #5cff77;
  color: black;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.upload_button:hover {
  background-color: #45cc5d;
}

.file_reports {
  background-color: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.file_report_title {
  padding-top: 2rem;
  padding-left: 2rem;
}

.spectrogram_box {
  background-color: azure;
  height: 35rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  border: 3px dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spectrogram_image {
  border-radius: 20px;
  width: 100%;
  height: 35rem;
}

.result_container {
  padding-left: 2rem;
  display: flex;
  gap: 40px;
}

.confidence_container {
  margin-top: 1rem;
  padding-left: 2rem;
  display: flex;
  gap: 40px;
}

.guide_container {
  background-color: #aed199;
  width: 100%;
  height: 26rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.guide_container h1 {
  padding: 2rem;
}

.guide_inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guide_item {
  flex: 1;
  height: 12rem;
  max-width: 25rem;
}

.guide_item:not(:last-child) {
  border-right: 1px solid black;
}

.guide_inner_container h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.guide_inner_container p {
  padding: 2rem;
  font-size: 20px;
}

.limitations_container {
  width: 100%;
  height: 20rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.limitations_container p {
  font-size: 20px;
}

.limitations_inner_container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.limitations_item {
  flex: 1;
  height: 10rem;
  max-width: 25rem;
}

.limitations_inner_container p {
  padding: 2rem;
  font-size: 23px;
}
