body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    max-width: 600px;
    height: 100%;
    box-sizing: border-box;
    gap: 15px
}

.square {
    width: 50%;
    padding-bottom: 50%;
    background-color: aquamarine;
    position: relative;
}

.test {
    background-color: brown;
    display: flex;
    place-items: center;
    margin-top: 100px;
    color: green;
}

.file_upload{
    background-color: lightgreen;
}

.file_report{
    background-color: lightyellow;
}
