.navbar {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding-top: 0px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar_logo {
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: auto;
}

.navlist {
  display: flex;
  list-style: none;
  position: static;
  margin: 0;
  padding-right: 50px;
  font-weight: bold;
}

.aboutus_button {
  background-color: #5cff77;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.aboutus_button:hover {
  text-decoration: underline;
}
